[submodule "app/src/back"]
	path = app/src/back
	url = https://github.com/C0rv0dev/energy-node-back.git
[submodule "app/src/front"]
	path = app/src/front
	url = https://github.com/C0rv0dev/energy-node-front.git
